body {
  overflow-y: scroll; }

.my-primary, .myprimary {
  background-color: #3F51B5;
  color: white; }
  .my-primary a:visited, .my-primary a:active, .my-primary a:link, .myprimary a:visited, .myprimary a:active, .myprimary a:link {
    color: white; }

.myprimaryhue1 {
  background-color: #7986cb;
  color: white; }
  .myprimaryhue1 a:visited, .myprimaryhue1 a:active, .myprimaryhue1 a:link {
    color: white; }

.myaccenthue1 {
  background-color: #f06292;
  color: white; }

.myaccenthue2 {
  background-color: #f8bbd0;
  color: black; }

.my-accent {
  background-color: #FF4081;
  color: #000000; }

.short-toolbar {
  min-height: 32px;
  /*max-height: 48px;*/ }
  .short-toolbar h1, .short-toolbar h2, .short-toolbar h3, .short-toolbar h4, .short-toolbar h5, .short-toolbar h6 {
    margin-top: 8px;
    margin-bottom: 8px; }

.short-dialog-toolbar {
  min-height: 48px;
  height: 48px;
  max-height: 48px; }

.shortpaddingbottom {
  padding-bottom: 8px; }

.my-padding, .mypadding {
  padding-top: 6px;
  padding-bottom: 6px; }

.iconColor {
  fill: #FFFFFF;
  width: 24px;
  height: 24px; }

.Title {
  font-weight: bolder; }

fieldset {
  display: block; }

.short {
  margin-top: 8px;
  margin-bottom: 8px; }

.short-padding {
  padding: 2px 2px 2px 2px; }

.veryshort {
  margin: 0 auto; }

.centerme {
  text-align: center; }

.margin-left-bottom {
  margin-left: .5em;
  margin-bottom: .5em; }

.no_pad_no_margin {
  /*margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;*/ }

.Tall {
  height: 600px;
  min-height: 600px;
  overflow-y: scroll; }

.HalfTall {
  height: 300px;
  min-height: 300px;
  overflow-y: scroll; }

.QuarterTall {
  height: 150px;
  min-height: 150px;
  overflow-y: scroll; }

.Medium {
  height: 400px;
  min-height: 400px;
  /*overflow-y: scroll;*/ }

.indent {
  padding-left: 1em; }

.ButtonAsLink, .ButtonAsLink:hover {
  text-decoration: underline; }

@page {
  size: auto;
  /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 5mm 5mm 5mm 5mm; }

table {
  width: 100%; }

.shading tr:nth-child(odd) {
  background-color: #e1e1e1; }

.addPageBreak {
  -webkit-break-after: always;
  break-after: always;
  page-break-after: always; }

th, td {
  text-align: center; }
  th .autoWidth, td .autoWidth {
    width: auto;
    border-bottom: #808080 dotted 1px; }
  th .width5, td .width5 {
    width: 5%;
    border-bottom: #808080 dotted 1px; }
  th .width10, td .width10 {
    width: 10%;
    border-bottom: #808080 dotted 1px; }
  th .width15, td .width15 {
    width: 15%;
    border-bottom: #808080 dotted 1px; }

@media print {
  body {
    overflow: visible;
    overflow-y: visible; }
  md-toolbar {
    display: none; } }

.addTimeContainer .md-subheader {
  background-color: #7986cb;
  color: #ffffff; }

md-select-menu, md-select-menu md-content {
  max-height: 430px !important; }

md-select-menu md-option {
  height: 36px; }

.ErrorText {
  color: red;
  font-weight: bold; }
