<script type="text/ng-template" id="TimeList.tmpl.html">

  <md-list class="smallList"
           ng-if="getGroups().length > 1"
           ng-repeat="group in getGroups()"
           flex="100"
           layout="row"
           layout-align="end center"
           layout-wrap>

    <md-list-item>
      <div flex="100"
           class="short-toolbar my-primary"
           layout="row"
           layout-align="center center">
        <h5>Your hours at base Payrate: {{group}}</h5>
      </div>
    </md-list-item>

    <md-list-item style="min-height: 0;"
                  ng-repeat="t in tl | groupPayrateBy:group"
                  flex="33"
                  flex-md="50"
                  flex-sm="100">
      <div flex="100"
           layout="row"
           layout-align="center center"
           ng-class="t.hours > 0 ? 'my-accent' : '' ">
        <span flex="70" layout="row" layout-align="end center">
          {{t.name}}
        </span>
        <span flex="20" layout="row" layout-align="center center">
          {{t.hours}}
        </span>
      </div>
    </md-list-item>
  </md-list>


  <md-list class="smallList"
           flex="100"
           ng-if="getGroups().length == 1"
           layout-wrap
           layout="row"
           layout-align="end center">
    <md-list-item style="min-height: 0;"
                  ng-repeat="t in tl"
                  flex="33"
                  flex-md="50"
                  flex-sm="100">
      <div flex="100"
           layout="row"
           layout-align="center center"
           ng-class="t.hours > 0 ? 'my-accent' : '' ">
        <span flex="70" layout="row" layout-align="end center">
          {{t.name}}
        </span>
        <span flex="20" layout="row" layout-align="center center">
          {{t.hours}}
        </span>

      </div>
    </md-list-item>

  </md-list>

  <md-list class="smallList"
           flex="100"
           layout="row"
           layout-align="end center">
    <md-list-item style="min-height: 0;"
                  flex="33"
                  flex-md="50"
                  flex-sm="100">
      <div flex="100"
           layout="row"
           layout-align="center center"
           ng-class="getTotalHours() > 0 ? 'my-primary' : '' ">
        <span flex="70" layout="row" layout-align="end center">
          Total Hours
        </span>
        <span flex="20" layout="row" layout-align="center center">
          {{getTotalHours()}}
        </span>
      </div>
    </md-list-item>

  </md-list>
</script>