<script type="text/ng-template" id="TimeApproval.tmpl.html">
    <md-list flex="100">
        <md-item>
            <md-item-content>
                <div flex="100"
                     layout="row"
                     layout-align="center center"
                     layout-wrap>
                    <span flex="20" layout="row" layout-align="end center">
                        Type of Hours
                    </span>
                    <span flex="10" layout="row" layout-align="center center">
                        Hours
                    </span>
                    <span flex>
                        Check your hours
                    </span>
                    <md-divider flex="100"></md-divider>
                </div>
            </md-item-content>
        </md-item>
    </md-list>
    <md-list ng-if="getGroups().length > 1"
             ng-repeat="group in getGroups()"
             flex="100">

        <md-item flex="100">
            <md-item-content flex="100">
                <div flex="100"
                     class="short-toolbar my-accent"
                     layout="row"
                     layout-align="center center">
                    <h5>Your hours at base Payrate: {{group}}</h5>
                </div>
            </md-item-content>
        </md-item>
        <md-item ng-repeat="t in tl | groupPayrateBy:group"
                 flex="100">
            <md-item-content>
                <div flex="100"
                     layout="row"
                     layout-align="center center"
                     layout-wrap>
                    <span flex="20" layout="row" layout-align="end center">
                        {{t.name}}
                    </span>
                    <span flex="10" layout="row" layout-align="center center">
                        {{t.hours}}
                    </span>
                    <md-checkbox style="margin-left: 0; margin-right: 0;"
                                 flex
                                 class="green"
                                 ng-change="checkApproved()"
                                 ng-model="t.approved" 
                                 aria-label="These hours are correct">
                        These hours are correct
                    </md-checkbox>
                    <!--<md-radio-group flex
                                    layout="row"
                                    ng-model="t.approved"
                                    layout-align="start center"
                                    layout-wrap
                                    ng-change="checkApproved()">
                        <md-radio-button ng-value="true">
                            These hours are correct.
                        </md-radio-button>
                        <md-radio-button ng-value="false">
                            These hours are wrong.
                        </md-radio-button>
                    </md-radio-group>-->
                    <md-divider flex="100"></md-divider>
                </div>
            </md-item-content>

        </md-item>
    </md-list>

    <md-list flex="100"
             ng-if="getGroups().length == 1">
        <md-item ng-repeat="t in tl">
            <md-item-content>
                <div flex="100"
                     layout="row"
                     layout-align="center center"
                     layout-wrap>
                    <span flex="20" layout="row" layout-align="end center">
                        {{t.name}}
                    </span>
                    <span flex="10" layout="row" layout-align="center center">
                        {{t.hours}}
                    </span>
                    <md-checkbox style="margin-left: 0; margin-right: 0;"
                                 flex
                                 class="green"
                                 ng-change="checkApproved()"
                                 ng-model="t.approved" 
                                 aria-label="These hours are correct">
                        These hours are correct
                    </md-checkbox>
                    <!--<md-radio-group flex
                                    layout="row"
                                    layout-align="start center"
                                    ng-model="t.approved"
                                    layout-wrap
                                    ng-change="checkApproved()">
                        <md-radio-button ng-value="true">
                            These hours are correct.
                        </md-radio-button>
                        <md-radio-button ng-value="false">
                            These hours are wrong.
                        </md-radio-button>
                    </md-radio-group>-->
                    <md-divider flex="100"></md-divider>
                </div>
            </md-item-content>

        </md-item>

    </md-list>
    <md-list ng-if="showHolidayError === true"
             flex="100">
        <md-item>
            <md-item-content>
                <div flex="100"
                     layout="row"
                     layout-align="center center">
                    You must choose how to handle your Holiday hours before you can approve your time.
                </div>
            </md-item-content>
        </md-item>
    </md-list>
    <md-list flex
             ng-if="showApprovalButton === true">
        <md-item flex>
            <md-item-content flex
                             layout="row"
                             layout-align="center center"
                             layout-padding>
                <md-button ng-click="approve()"
                           class="md-raised md-warn ">
                    Approve and Finalize
                </md-button>
            </md-item-content>
        </md-item>

    </md-list>
</script>