<script type="text/ng-template" id="TimeApproval.tmpl.html">
  <div style="margin-top: .75em;"
       ng-show="tc.ErrorList.length > 0"
       layout="row"
       layout-align="center center"
       layout-wrap
       flex="100">
    Your time cannot be approved while there are Errors present.
    <timecard-warnings flex="100"
                       alignheader="center"
                       headerclass="warn"
                       dl="tc.ErrorList"
                       title="Errors"></timecard-warnings>
  </div>

  <div ng-show="tc.Approval_Level > 0 && tc.Days_Since_PPE < 1"
       layout="row"
       layout-align="center center"
       flex="100">
    Your time has already been approved.
  </div>
  <div ng-show="tc.Days_Since_PPE > 1"
       layout="row"
       layout-align="center center"
       flex="100">
    It is too late to approve your time for this pay period.
  </div>
  <div ng-show="tc.timeList.length === 0 && tc.Days_Since_PPE < 1"
       layout="row"
       layout-align="center center"
       flex="100">
    No time has been entered to approve.
  </div>
  <div ng-show="tc.WarningList.length > 0"
       layout="row"
       layout-align="center center"
       layout-wrap
       flex="100">    
    <timecard-warnings flex="100"
                       alignheader="center"
                       headerclass="my-accent"
                       dl="tc.WarningList"
                       title="Warnings"></timecard-warnings>
  </div>
  <md-list ng-if="showHolidayError === true"
           flex="100">
    <md-item>
      <md-item-content>
        <div flex="100"
             layout="row"
             layout-align="center center">
          You must choose how to handle your Holiday hours before you can approve your time.
        </div>
      </md-item-content>
    </md-item>
  </md-list>
  <md-list flex="100"
           ng-if="showApprovalButton === true">
    <md-item flex>
      <md-item-content flex
                       layout="row"
                       layout-align="center center">
        <md-button ng-click="approve()"
                   class="md-raised md-warn ">
          Approve and Finalize
        </md-button>
      </md-item-content>
    </md-item>

  </md-list>
</script>