<script type="text/ng-template" id="AddTime.directive.tmpl.html">
  <form id="addTimeForm">

    <div style="margin-top: .5em;"
         id="workDateContainer"
         layout="row"
         layout-align="center center"
         flex="100"
         layout-wrap>

      <date-selector title="Work Date:"
                     label="Select Work Date"
                     datetype="day"
                     flex="100">
      </date-selector>

    </div>

    <div>
      <div style="margin-top: .75em; margin-bottom: .75em;"
           class="short-toolbar my-primary"
           flex="100"
           layout="row"
           layout-align="start center">
        <span flex="5"></span>
        <h5 ng-if="isCurrentPPD">
          Enter your time worked
        </h5>
        <h5 ng-if="!isCurrentPPD">
          Enter your Leave Requests
        </h5>
      </div>

      <div layout="row"
           layout-align="space-around start"
           layout-wrap
           flex="100">

        <div ng-show="isCurrentPPD"
             layout="row"
             layout-align="center center"
             flex="40"
             layout-wrap>
          <md-input-container flex="100">
            <label>Select Work Hours</label>
            <md-select md-on-close="calculateTotalHours()"
                       flex="100"
                       multiple
                       ng-model="TCTD.selectedTimes">
              <md-option ng-repeat="t in timeList track by t.index"
                         ng-value="t.index">
                {{t.display}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-radio-group ng-change="updateTimeList()"
                          flex="100"
                          layout="row"
                          layout-align="space-around center"
                          class="smaller"
                          ng-model="timeListType">
            <md-radio-button ng-model="forceFullTimeList"
                             value="short">
              Short Time List
              <md-tooltip md-direction="top">
                Times from 6 AM to 6 PM
              </md-tooltip>
            </md-radio-button>
            <md-radio-button value="full">
              Full Time List
              <md-tooltip md-direction="top">
                Times from 12 AM to 12 PM
              </md-tooltip>
            </md-radio-button>
          </md-radio-group>
        </div>
        <div layout="column"
             layout-align="center center"
             layout-gt-md="row"
             layout-align-gt-md="space-around start"
             layout-wrap
             flex="55">
          <md-input-container ng-if="timecard.isPubWorks">
            <label>Lunch Start {{ TCTD.DepartmentNumber === "3701" || TCTD.DepartmentNumber === "3711" || TCTD.DepartmentNumber === "3712"  ? "(30 Mins)" : "(1 Hour)"}}</label>
            <md-select ng-disabled="lunchTimeList.length === 0 || timecard.selectedTimes.length === 0 || timecard.selectedTimes.length > 4"
                       md-on-close="calculateTotalHours()"
                       ng-model="TCTD.SelectedLunchTime">
              <md-option value="-1">No Lunch Taken</md-option>
              <md-option ng-repeat="t in lunchTimeList track by t.index"
                         ng-value="t.index">
                {{t.display}}
              </md-option>
            </md-select>
          </md-input-container>
          <hours-display tctd="TCTD" hours="TCTD.WorkHours"></hours-display>
          <hours-display tctd="TCTD" hours="TCTD.BreakCreditHours"></hours-display>
          <hours-display tctd="TCTD" hours="TCTD.TotalHours"></hours-display>
          <div ng-if=" ShowDisasterWarning && TCTD.WorkHours.value > 0 && isCurrentPPD"
               layout="row"
               layout-wrap
               layout-padding
               flex="100">
            <md-input-container class="md-input-has-value"
                                flex="100">
              <label>Are any of the hours worked related to {{ TCTD.DisasterName.length > 0 ? TCTD.DisasterName : timecard.DisasterName_Display }}?</label>
              <md-radio-group ng-change="DisasterHoursChoice()"
                              flex="100"
                              layout="row"
                              layout-align="space-around center"
                              ng-model="$parent.DisasterHoursRelated"
                              class="smaller">
                <md-radio-button ng-value="true" aria-label="Yes">
                  Yes
                </md-radio-button>
                <md-radio-button ng-value="false" aria-label="No">
                  No
                </md-radio-button>
              </md-radio-group>
            </md-input-container>
            <p ng-if="disasterChoiceError.length > 0"
               flex="100"
               layout="row"
               class="warn">
              {{ disasterChoiceError }}
            </p>
          </div>
        </div>

      </div>
    </div>

    <div ng-show="isCurrentPPD && timecard.DisasterPeriodType_Display > 0">
      <div ng-click="Toggle_DisasterHours()"
           style="margin-top: .25em; margin-bottom: .25em; cursor: pointer;"
           flex="100"
           class="short-toolbar my-primary"
           layout="row"
           layout-align="start center">
        <span flex="5"></span>
        <h5>
          Show / Hide -- Disaster hours worked related to {{ TCTD.DisasterName.length > 0 ? TCTD.DisasterName : timecard.DisasterName_Display }}
        </h5>
      </div>

      <div ng-show="showDisaster"
           style="margin-top: .5em;"
           layout="row"
           layout-align="center center"
           layout-wrap
           flex="100">

        <md-input-container flex="40">
          <label>Disaster Hours Worked</label>
          <md-select md-on-close="calculateTotalHours()"
                     flex="100"
                     multiple
                     ng-model="TCTD.disasterSelectedTimes"
                     placeholder="Disaster Hours Worked"
                     class="bigpaddingbottom">
            <md-option ng-repeat="t in fullTimeList track by t.index"
                       ng-value="t.index">
              <span class="md-text">
                {{t.display}}
              </span>
            </md-option>
          </md-select>
        </md-input-container>
        <div layout="column"
             layout-align="center center"
             layout-gt-md="row"
             layout-align-gt-md="space-around center"
             layout-wrap
             flex="55">

          <hours-display tctd="TCTD" hours="TCTD.DisasterWorkHours"></hours-display>
        </div>
        <div layout-padding
             layout="row"
             layout-wrap
             flex="100">
          <p ng-if="disasterTimeError.length > 0"
             flex="100"
             layout="row"
             class="warn">
            {{ disasterTimeError }}
          </p>
          <p>The section above titled "Enter your time worked" is should be filled out normally to reflect your shift start/end times and time selected for lunch. The section titled "Disaster Hours" is used to document and track the hours you worked within those hours towards the disaster. </p>
          <md-input-container flex="40">
            <label>Disaster Work Type</label>
            <md-select md-on-close="checkDisasterWorkType()"
                       flex="100"
                       ng-model="TCTD.DisasterWorkType"
                       placeholder="Disaster Work Type"
                       class="bigpaddingbottom">
              <md-option value="Debris Pickup">
                Debris Pickup
              </md-option>
              <md-option value="Debris Monitoring">
                Debris Monitoring
              </md-option>
              <md-option value="Call Center">
                Call Center
              </md-option>
              <md-option value="Working in EOC">
                Working in EOC
              </md-option>
              <md-option value="Building Repair">
                Building Repair
              </md-option>
              <md-option value="Road Repair">
                Road Repair
              </md-option>
              <md-option value="Other Repair">
                Other Repair
              </md-option>
              <md-option value="Prep for Storm">
                Prep for Storm
              </md-option>
              <md-option value="Not Listed">
                Not Listed
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </div>

    <div flex="100"
         ng-if="timecard.isPubWorks">
      <div style="margin-top: .75em; margin-bottom: .75em;"
           class="short-toolbar my-accent"
           flex="100"
           layout="row"
           layout-align="start center">
        <span flex="5"></span>
        <h5>
          Add Out of Class Information
        </h5>
      </div>
      <span layout="row"
            layout-align="center center"
            flex="25">
        <md-checkbox ng-disabled="myAccess.Raw_Access_Type  === 1 || myAccess.EmployeeID === parseInt(timecard.employeeId)"
                     ng-change="calculateTotalHours()"
                     ng-model="TCTD.OutOfClass">
          Out of Class Pay
        </md-checkbox>
      </span>
    </div>
    <div ng-show="TCTD.showOnCall"
         ng-click="Toggle_OnCallHours()"
         style="margin-top: .25em; margin-bottom: .25em; cursor: pointer;"
         flex="100"
         class="short-toolbar my-accent"
         layout="row"
         layout-align="start center">
      <span flex="5"></span>
      <h5>
        On Call Hours - Show / Hide
      </h5>
    </div>

    <div ng-show="toggleOnCall"
         style="margin-top: .5em;"
         layout="row"
         layout-align="center center"
         layout-wrap
         flex="100">

      <md-input-container ng-show="isCurrentPPD"
                          flex="40">
        <label>On Call Hours Worked</label>
        <md-select md-on-close="calculateTotalHours()"
                   flex="40"
                   multiple
                   ng-model="TCTD.OnCallSelectedTimes"
                   placeholder="On Call Hours Worked"
                   class="bigpaddingbottom">
          <md-option ng-repeat="t in fullTimeList track by t.index"
                     ng-value="t.index">
            <span class="md-text">
              {{t.display}}
            </span>
          </md-option>
        </md-select>
      </md-input-container>
      <div layout="column"
           layout-align="center center"
           layout-gt-md="row"
           layout-align-gt-md="space-around center"
           layout-wrap
           flex="55">

        <hours-display tctd="TCTD" hours="TCTD.OnCallWorkHours"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.OnCallMinimumHours"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.OnCallTotalHours"></hours-display>

      </div>

    </div>

    <div flex="100">

      <div style="margin-top: .25em; margin-bottom: .25em;"
           flex="100"
           class="short-toolbar my-accent"
           layout="row"
           layout-align="start center">
        <span flex="5"></span>
        <h5 flex
            style="text-align: left;">
          Non-Working Hours
        </h5>
        <span style="text-align: center; margin-right: 1em;">
          Banked Vacation: {{ timecard.bankedVacation }}
          <span ng-if="vacationUsed > 0">
            ( {{ vacationUsed }} hours )
          </span>
        </span>
        <span style="text-align: center; margin-right: 1em;">
          Banked Sick: {{ timecard.bankedSick }}
          <span ng-if="sickUsed > 0">
            ( {{ sickUsed }} hours )
          </span>
        </span>
        <span style="text-align: center; margin-right: 1em;"
              ng-if="timecard.exemptStatus !== 'Exempt'">
          Banked Comp:{{ timecard.bankedComp }}
          <span ng-if="bankedCompWeek1 > 0">
            + {{ bankedCompWeek1 }} hours from Week 1
          </span>
          <span ng-if="compUsed > 0">
            ( {{ compUsed }} hours )
          </span>
        </span>
      </div>

      <div style="margin: .5em .5em .5em .5em;"
           layout="row"
           layout-align="start center"
           layout-wrap
           flex="100">

        <hours-display tctd="TCTD" hours="TCTD.VacationHours" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.SickHours" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.SickFamilyLeave" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.CompTimeUsed" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.LWOPHours" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.ScheduledLWOPHours" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.LWOPSuspensionHours" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.HolidayHours" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.SickLeavePoolHours" calc="calculateTotalHours()"></hours-display>
        <hours-display tctd="TCTD" hours="TCTD.TermHours" calc="calculateTotalHours()"></hours-display>
      </div>


      <div>
        <div ng-click="Toggle_AdminHours()"
             style="margin-top: .5em; margin-bottom: .5em; cursor: pointer;"
             flex="100"
             class="short-toolbar my-accent"
             layout="row"
             layout-align="start center">
          <span flex="5"></span>
          <h5>
            Administrative Leave - Show / Hide
          </h5>
        </div>

        <div style="margin-top: .5em; margin-bottom: .5em;"
             ng-show="TCTD.showAdminHours === true"
             layout="row"
             layout-align="start center"
             layout-wrap
             flex="100">

          <hours-display tctd="TCTD" hours="TCTD.AdminBereavement" calc="calculateTotalHours()"></hours-display>
          <hours-display tctd="TCTD" hours="TCTD.AdminJuryDuty" calc="calculateTotalHours()"></hours-display>
          <hours-display tctd="TCTD" hours="TCTD.AdminMilitaryLeave" calc="calculateTotalHours()"></hours-display>
          <hours-display tctd="TCTD" hours="TCTD.AdminWorkersComp" calc="calculateTotalHours()"></hours-display>
          <hours-display tctd="TCTD" hours="TCTD.AdminDisaster" calc="calculateTotalHours()"></hours-display>
          <hours-display tctd="TCTD" hours="TCTD.AdminOther" calc="calculateTotalHours()"></hours-display>
          <hours-display tctd="TCTD" hours="TCTD.AdminHours" calc="calculateTotalHours()"></hours-display>

        </div>
      </div>

    </div>

    <div ng-if="!timecard.isPubWorks || myAccess.Raw_Access_Type > 1"
         layout="row"
         layout-align="space-around center"
         flex="100"
         layout-wrap>

      <hours-display tctd="TCTD" hours="TCTD.DoubleTimeHours" calc="calculateTotalHours()"></hours-display>

      <span ng-show="TCTD.showVehicle === true"
            layout="row"
            layout-align="center center"
            flex="25">
        <md-checkbox ng-true-value="1"
                     ng-false-value="0"
                     ng-model="TCTD.Vehicle">
          Take Home Vehicle
        </md-checkbox>
      </span>

    </div>
    <timecard-warnings flex="100"
                       alignheader="start"
                       headerclass="my-accent"
                       dl="warningList"
                       title="Warnings"></timecard-warnings>

    <timecard-warnings flex="100"
                       alignheader="start"
                       headerclass="warn"
                       dl="errorList"
                       title="Errors"></timecard-warnings>
    <div layout="row"
         layout-align="center center"
         layout-wrap
         flex="100">
      <md-input-container class="md-whiteframe-z1 margin-left-bottom"
                          flex="50">
        <label>
          <md-icon aria-label="comment icon"
                   md-svg-src="images/ic_insert_comment_24px.svg">
          </md-icon>
          Add a Comment for this day
        </label>
        <input ng-model-options="{ debounce: 1500 }"
               ng-model="TCTD.Comment"
               name="comment"
               ng-change="calculateTotalHours()"
               md-maxlength="100" />
      </md-input-container>
      <span flex></span>
      <md-button ng-click="resetTimes()"
                 class="md-raised">
        Reset
        <md-icon aria-label="reset data icon"
                 md-svg-src="images/ic_settings_backup_restore_24px.svg">
        </md-icon>
      </md-button>
      <div>
        <md-button ng-disabled="errorList.length > 0"
                   ng-click="saveTCTD()"
                   class="md-raised md-warn">
          Save
          <md-icon aria-label="save icon"
                   md-svg-src="images/ic_save_24px.svg">
          </md-icon>
        </md-button>
        <md-tooltip ng-if="errorList.length > 0">
          Unable to Save Changes while errors are present.
        </md-tooltip>
      </div>
    </div>
    <div layout="row"
         layout-align="end center"
         layout-wrap
         flex="100">
      {{ responseMessage }}
    </div>

  </form>
</script>