<script type="text/ng-template" id="DisasterHours.directive.tmpl.html">

  <div ng-show="isCurrentPPD && showDisaster">
    <div ng-click="Toggle_DisasterHours()"
         style="margin-top: .25em; margin-bottom: .25em; cursor: pointer;"
         flex="100"
         class="short-toolbar my-primary"
         layout="row"
         layout-align="start center">
      <span flex="5"></span>
      <h5>
        Show / Hide -- Disaster hours worked related to {{ TCTD.DisasterName }}
      </h5>
    </div>

    <div ng-show="ExpandDisasterHours"
         style="margin-top: .5em;"
         layout="row"
         layout-align="center center"
         layout-wrap
         layout-padding
         flex="100">

      <md-input-container class="md-input-has-value"
                          flex="40">
        <label>Are you normally scheduled to work on this date?</label>
        <md-radio-group ng-change="NormallyScheduledChoice()"
                        flex="100"
                        layout="row"
                        layout-align="space-around center"
                        ng-model="NormallyScheduled"
                        class="smaller">
          <md-radio-button ng-value="true" aria-label="Yes">
            Yes
          </md-radio-button>
          <md-radio-button ng-value="false" aria-label="No">
            No
          </md-radio-button>
        </md-radio-group>
      </md-input-container>

      <md-input-container ng-show="ShowDisasterNormallyScheduledHours"
                          class="md-input-has-value"
                          flex="60">
        <label>Select the number of hours you normally work on this date</label>
        <md-select ng-change="NormallyScheduledHoursSelected()"
                   ng-model="TCTD.DisasterNormalScheduledHours">
          <md-option ng-value="-1">Please Select</md-option>
          <!--<md-option ng-value="1">1 hour</md-option>-->
          <md-option ng-repeat="h in normallyScheduledHours track by $index"
                     ng-value="h">{{ h.toFixed(2)  }}hours</md-option>
        </md-select>
      </md-input-container>
      <div ng-show="!ShowDisasterNormallyScheduledHours"
           flex="60">

      </div>
      <p ng-if="normallyScheduledHoursError.length > 0"
         flex="100"
         layout="row"
         class="warn">
        {{ normallyScheduledHoursError }}
      </p>

      <md-input-container flex="40">
        <label>Disaster Hours Worked</label>
        <md-select md-on-close="calculateTotalHours()"
                   flex="100"
                   multiple
                   ng-model="TCTD.disasterSelectedTimes"
                   placeholder="Disaster Hours Worked"
                   class="bigpaddingbottom">
          <md-option ng-repeat="t in fullTimeList track by t.index"
                     ng-value="t.index">
            <span class="md-text">
              {{t.display}}
            </span>
          </md-option>
        </md-select>
      </md-input-container>
      <div layout="column"
           layout-align="center center"
           layout-gt-md="row"
           layout-align-gt-md="space-around center"
           layout-wrap
           flex="55">
        <md-button ng-click="CopyWorkHoursToDisasterWorkHours()"
                   class="md-primary md-raised">
          Copy Work Hours
        </md-button>
        <hours-display tctd="TCTD" hours="TCTD.DisasterWorkHours"></hours-display>
      </div>
      <div layout-padding
           layout="row"
           layout-wrap
           flex="100">
        <p ng-if="disasterTimeError.length > 0"
           flex="100"
           layout="row"
           class="warn">
          {{ disasterTimeError }}
        </p>
        <p>The section above titled "Enter your time worked" is should be filled out normally to reflect your shift start/end times and time selected for lunch. The section titled "Disaster Hours" is used to document and track the hours you worked within those hours towards the disaster. </p>
        <md-input-container flex="40">
          <label>Disaster Work Type</label>
          <md-select md-on-close="checkDisasterWorkType()"
                     flex="100"
                     ng-model="TCTD.DisasterWorkType"
                     placeholder="Disaster Work Type"
                     class="bigpaddingbottom">
            <md-option value="Debris Pickup">
              Debris Pickup
            </md-option>
            <md-option value="Debris Monitoring">
              Debris Monitoring
            </md-option>
            <md-option value="Call Center">
              Call Center
            </md-option>
            <md-option value="Working in EOC">
              Working in EOC
            </md-option>
            <md-option value="Building Repair">
              Building Repair
            </md-option>
            <md-option value="Road Repair">
              Road Repair
            </md-option>
            <md-option value="Other Repair">
              Other Repair
            </md-option>
            <md-option value="Prep for Storm">
              Prep for Storm
            </md-option>
            <md-option value="Not Listed">
              Not Listed
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div>


</script>