<script type="text/ng-template" id="Access.tmpl.html">
  <div flex="100" layout="row" layout-align="center start" layout-wrap layout-margin>
    <div flex="40" layout="row" layout-align="center start" layout-wrap layout-padding layout-margin>

      <md-autocomplete ng-if="employeeList.length > 0"
                       flex="100"
                       id="employeeList"
                       md-items="employee in querySearch(employeeSearchText, employeeMapV)"
                       md-item-text="employee.display"
                       md-selected-item="employee"
                       md-search-text="employeeSearchText"
                       md-selected-item-change="selectedEmployeeChanged(employee)"
                       md-autofocus="true"
                       placeholder="Search by Name or Employee Id to begin">
        <span md-highlight-text="employeeSearchText">{{employee.display}}</span>
      </md-autocomplete>

      <div flex="100" class="md-whiteframe-z1" layout-wrap layout="row" layout-align="start center">
        <md-input-container flex="100">
          <label>Access Level</label>
          <md-select aria-label="Select Access Level"
                     flex="90"
                     id="AccessTypes"
                     ng-disabled="employee === null"
                     ng-model="timecardAccess.Raw_Access_Type">
            <md-select-label>Employee Access Level {{ accessLevels[timecardAccess.Raw_Access_Type] }}</md-select-label>
            <md-option ng-repeat="al in accessLevels" ng-value="{{$index}}">
              {{ al }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="100">
          <label>Data Type</label>
          <md-select aria-label="Select Data Type"
                     flex="90" id="dataTypeList"
                     ng-disabled="employee === null"
                     ng-model="timecardAccess.Data_Type">
            <md-select-label>Employee Data Location {{timecardAccess.Data_Type}}</md-select-label>
            <md-option ng-value="dt" ng-repeat="dt in dataTypes">
              {{ dt }}
            </md-option>
          </md-select>
        </md-input-container>

        <md-checkbox flex="100"
                     id="BackendReportAccess"
                     ng-disabled="employee === null"
                     ng-model="timecardAccess.Backend_Reports_Access">
          Does this user have access to the Backend Reports?
        </md-checkbox>
        <md-divider flex="100"></md-divider>
        <md-checkbox flex="100"
                     ng-disabled="employee === null"
                     id="ApprovalRequired"
                     ng-model="timecardAccess.RequiresApproval">
          Does this user require approval?
        </md-checkbox>
        <md-divider flex="100"></md-divider>
        <md-checkbox flex="100"
                     id="CanChangeAccess"
                     ng-disabled="employee === null"
                     ng-model="timecardAccess.CanChangeAccess">
          Can this user change Timestore Access?
        </md-checkbox>
        <md-divider flex="100"></md-divider>
        <md-input-container flex="100">
          <label>Reports To</label>
          <md-select aria-label="Select Reports To"
                     flex="90"
                     id="reportsToList"
                     ng-disabled="employee === null"
                     ng-model="timecardAccess.ReportsTo">
            <md-select-label>User Reports to:  {{ GetEmployeeDisplay() }}</md-select-label>
            <md-option ng-value="0">No Specific User</md-option>
            <md-option ng-value="{{emp.EmployeeID}}" ng-repeat="emp in reportsToList | orderBy:'EmployeeDisplay'">
              {{ emp.EmployeeDisplay }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="100">
          <label>Payroll Access</label>
          <md-select flex="90"
                     aria-label="Select Payroll Access"
                     id="payrollAccessList"
                     ng-disabled="employee === null"
                     ng-model="timecardAccess.PayrollAccess">
            <md-option ng-value="$index" ng-repeat="pra in payrollAccess track by $index">
              {{ pra }}
            </md-option>
          </md-select>
        </md-input-container>


          <md-divider flex="100"></md-divider>
          <div flex="100" layout="row" layout-padding layout-align="end center">
            <span flex></span>
            <md-button ng-disabled="employee === null"
                       class="md-primary md-raised md-whiteframe-z1"
                       ng-click="saveTimecardAccess()">
              SAVE User Access
            </md-button>
          </div>
</div>

    </div>


    <div flex="50" class="md-whiteframe-z1" layout-margin layout-wrap layout="row" layout-align="start center">
      <div flex="100"
           layout="row"
           layout-align="start center"
           class="Tall">
        <md-list flex="100">
          <md-list-item>
            <span class="indent" flex="100">Department</span>
            <md-divider flex="100"></md-divider>
          </md-list-item>

          <md-list-item>

            <md-checkbox ng-change="viewApproveAllChanged()"
                         id="viewApproveAll"
                         ng-disabled="timecardAccess.viewAll || employee === null || timecardAccess.Raw_Access_Type < 2"
                         ng-model="timecardAccess.approveAll">

            </md-checkbox>
            <div>
              All Departments - View And Approve
            </div>

            <md-divider flex="100"></md-divider>
          </md-list-item>

          <md-list-item>
            <md-checkbox id="ViewAll"
                         ng-disabled="timecardAccess.approveAll || employee === null || timecardAccess.Raw_Access_Type < 2"
                         ng-model="timecardAccess.viewAll">
              
            </md-checkbox>
            <div>
              All Departments - View Only
            </div>
            <md-divider flex="100"></md-divider>
          </md-list-item>

          <md-list-item ng-repeat="dept in departmentList">

            <md-checkbox ng-disabled="timecardAccess.viewAll || employee === null || timecardAccess.Raw_Access_Type < 2 || dept.disabled"
                         ng-model="dept.selected"
                         aria-label="{{dept.DepartmentDisplay}}"
                         name="chk-{{dept.DepartmentNumber}}">

            </md-checkbox>
            <div>
              {{dept.DepartmentDisplay}}
            </div>

            <md-divider flex="100"></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
</script>